#canvas {
    /*width: 50%;*/
    /*height: 50%;*/
    /*border-right: 2px solid #14161a;*/
    /*border-bottom: 2px solid #14161a;*/
}
.MuiFormControl-root {
    background: #1565c0;
    border-radius: 4px;
}

.customSelect {
    transform: translateY(-25%)
}